{% extends 'base.html.twig' %}
{% block title %}Products{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{ asset("css/productList.css") }}">{% endblock %}
{% block javascript %}<script defer type="text/javascript" src="{{ asset("js/product.js") }}"></script>{% endblock %}
{% block main %}

    {{ form_start(form) }}
    <fieldset>
        <legend>Creation de produit</legend>
        {{ form_label(form.name, 'Nom : ') }}
        {{ form_widget(form.name, {'id' : 'name', 'attr' : {'placeholder' : 'Entre 4 et 20 caractères'}}) }}

        {{ form_label(form.price, 'Prix : ') }}
        {{ form_widget(form.price, {'id' : 'price'}) }}

        {{ form_label(form.ref, 'Reference : ') }}
        {{ form_widget(form.ref, {'id' : 'ref'}) }}

        {{ form_label(form.imageProduct, 'Image du produit : ') }}
        <p class="help-input-form">Format .jpg ou .png  (10Mo)</p>
        {{ form_widget(form.imageProduct, {'required' : '', 'attr' : {'accept' : 'image/png, image/jpeg'}}) }}

        {{ form_label(form.type, 'Type : ') }}
        {{ form_widget(form.type, {'id' : 'type'}) }}

        {{ form_widget(form.submit, {'id' : "creation-new-submit", 'label' : "Créer"}) }}
        <div id="fieldset-background" class="card"></div>
    </fieldset>
    {{ form_rest(form) }}
    {{ form_end(form) }}

    <div id="shop-content">
        <div id="cards">
            {% if products is empty %}
                <p> Aucun produit disponible en ce moment :(</p>
            {% endif %}
            {% for product in products %}
                {{ include('product/product.html.twig', {'product' : product}) }}
            {% endfor %}
        </div>
    </div>

{% endblock %}