{% extends 'base.html.twig' %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{ asset("css/productList.css") }}">{% endblock %}
{% block title %}
    {% if product is not null %}
        {{ product.name }}
        {% else %}
        no data
    {% endif %}
{% endblock %}
{% block main %}
    {{ form_start(form) }}
    <fieldset>
        <legend>Modification de {{ product.name }}</legend>
        {{ form_label(form.name, 'Nom : ') }}
        {{ form_widget(form.name, {'id' : 'name', 'attr' : {'placeholder' : 'Entre 4 et 20 caractères'}}) }}

        {{ form_label(form.price, 'Prix : ') }}
        {{ form_widget(form.price, {'id' : 'price'}) }}

        {{ form_label(form.ref, 'Reference : ') }}
        {{ form_widget(form.ref, {'id' : 'ref'}) }}

        {{ form_label(form.imageProduct, 'Image du produit : ') }}
        <p class="help-input-form">Format .jpg ou .png  (10Mo)</p>
        {{ form_widget(form.imageProduct, {'required' : '', 'attr' : {'accept' : 'image/png, image/jpeg'}}) }}

        {{ form_label(form.type, 'Type : ') }}
        {{ form_widget(form.type, {'id' : 'type'}) }}

        {{ form_widget(form.submit, {'id' : "creation-new-submit", 'label' : "Modifier"}) }}
        <div id="fieldset-background" class="card"></div>
    </fieldset>
    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}