{% extends "base.html.twig" %}
{% block title %}Inventory{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{ asset("css/inventory.css") }}">{% endblock %}
{% block main %}
    <main>
    <div class="user-info-section">
        <div class="user-info card">
            <p class="user-name">{{ user.login }}</p>
        </div>
        <div class="user-stat card">
            <table id="user-stat-table">
                <tr>
                    <td>Date de création :</td>
                    <td>{{ user.creationDate.format('d-m-Y')}}</td>
                </tr>
                <tr>
                    <td>Nombre de produits possédés :</td>
                    <td>{{ nbProducts }}</td>
                </tr>
            </table>
        </div>
    </div>

    <table id="user-inventory-table">
        {% if inventory is empty %}
            <p> Votre inventaire est vide au boulot!</p>
        {% else %}
            <tr class="card">
                <td>Image</td>
                <td>Nom</td>
                <td>Référence</td>
                <td>Type</td>
                <td>Quantité</td>
            </tr>
            {%  for ligne in inventory %}
                {{ include('user/inventoryItem.html.twig', {'ligne' : ligne}) }}
            {% endfor %}
        {% endif %}
    </table>
</main>
{% endblock %}