{% extends "base.html.twig" %}
{% block title %}Registration{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{ asset("css/connectionAndRegistration.css") }}">{% endblock %}
{% block main %}
    <main>
        {{ form_start(form) }}
        <fieldset>
            <legend>Inscription</legend>
            {{ form_label(form.login, 'Login : ') }}
            <p class="help-input-form">Entre 4 et 20 caractères</p>
            {{ form_widget(form.login, {'id' : 'login'}) }}

            {{ form_label(form.plainPassword, 'Mot de passe : ') }}
            <p class="help-input-form">Entre 8 et 30 caractères, au moins une minuscule, une majuscule et un nombre</p>
            {{ form_widget(form.plainPassword, {'id' : 'plainPassword'}) }}

            {{ form_widget(form.registration, {'id' : "registration-new-submit", 'label' : "S'inscrire"}) }}
            <div id="fieldset-background" class="card"></div>
        </fieldset>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </main>
{% endblock %}