<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset("css/base.css") }}">
        {% block css %}{% endblock %}
        <script defer type="text/javascript" src="{{ asset("js/shop.js") }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% block javascript %}{% endblock %}
    </head>
    <body>
        <div id="wallpaper"></div>
        <header>
            <div id="header-blur"></div>
            <nav>
                <a class="card" href="{{ path("shop") }}">IAMSI</a>

                <a class="card" href="{{ path("shoppingCart") }}">Panier</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="card" href="{{ path("product") }}">Produits</a>
                {% endif %}
                {% if not is_granted('ROLE_USER') %}
                    <a class="card" href="{{ path("connection") }}">Connexion / S'inscrire</a>
                {% else %}
                    <a class="card" href="{{ path("userInventory") }}">Inventaire</a>
                    <form class="card" method="post" action="{{ path("deconnection") }}">
                        <button id="disconnection-button">Déconnexion</button>
                    </form>
                {% endif %}
                <a class="card" href="#">Nuit</a>
            </nav>
        </header>

        <div id="flashes-container">
            {% for flashMsg in app.flashes("success") %}
                <span class="flashes flashes-succes card">{{ flashMsg }}</span>
            {% endfor %}
            {% for flashMsg in app.flashes("error") %}
                <span class="flashes flashes-error card">{{ flashMsg }}</span>
            {% endfor %}
        </div>

        {% block main %}{% endblock %}
        <footer>

        </footer>
    </body>
</html>
