{% extends "base.html.twig" %}
{% block title %}Shop{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{ asset("css/shop.css") }}">{% endblock %}
{% block javascript %}<script defer type="text/javascript" src="{{ asset("js/product.js") }}"></script>{% endblock %}
{% block main %}
    <div id="featured">
        <div id="featured-section" class="card">
            <div id="featured-content" class="card-content">
                <p id="featured-title">Populaire :</p>
            </div>
        </div>
    </div>
    <main>
        <div id="shop-nav">
            <div id="shop-types">
                <a class="card" href="{{ path('shop')}}">Tout</a>
                <a class="card" href="{{ path('filterProduct', {'filter': 'Blocs'}) }}">Blocs</a>
                <a class="card" href="{{ path('filterProduct', {'filter': 'Equipements'}) }}">Equipements</a>
                <a class="card" href="{{ path('filterProduct', {'filter': 'Ressources'}) }}">Ressources</a>
            </div>
            <div>
                <form class="search-bar" method="post" action="{{ path("searchProduct") }}">
                    <label class="card">
                        <input type="text" name="searchTerm" placeholder="Rechercher...">
                    </label>
                    <button type="submit" class="search-button card"><img src="{{ asset("img/search.svg") }}" alt="Rechercher"></button>
                </form>
            </div>
        </div>
        <div id="shop-content">
            <div id="cards">
                {% if products is empty %}
                    <p> Aucun produit disponible en ce moment :(</p>
                {% endif %}
                {% for product in products %}
                    {{ include('product/product.html.twig', {'product' : product}) }}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}